// discussion - elements - actions
// ====================

// UI: general action list styling
.post-actions-list, .response-actions-list, .comment-actions-list {
  @extend %ui-no-list;
  text-align: right;

  .actions-item {
    display: inline-block;
    text-align: center;
    height: ($baseline*2);
    width: ($baseline*2);
    vertical-align: top;
    padding: ($baseline/4);

    &:hover {
      box-shadow: 0 0 2px $shadow;
      border-radius: 3px;
    }

    &.action-primary {

    }
  }
}

// CASE: comment actions styling
.comment-actions-list .actions-item {
  height: auto;
}

// ====================

// UI: general actions dropdown styling
.post-actions-dropdown, .response-actions-dropdown, .comment-actions-dropdown {
  @extend %ui-no-list;
  display: none; //temporary

  .actions-item.action-secondary {
    display: inline-block;

  }
}

// ====================

// UI: general action styling
.action-button {
  border-radius: 3px;
  text-align: center;

  &:focus {

  }

  .action-icon {
    display: block;
    padding: ($baseline/5) 0;
    @include font-size(16);
    @include line-height(16);

  }

  .action-label {
    @include font-size(10);
    @include line-height(10);
    display: block;
    text-transform: uppercase;

  }

}

// TO-DO refactor all styling below this actions line.


// vote and endorse buttons
.container .discussion-body {

  .discussion-post {
    > header .vote-btn {
      position: relative;
      z-index: 100;
      margin-top: ($baseline/4);
      margin-left: ($baseline*2);
    }
  }

  .vote-btn {

    .plus-icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 8px 6px 0 0;
      background: url(../images/vote-plus-icon.png) no-repeat;
      font-size: 18px;
      text-indent: -9999px;
      color: #17b429;
      overflow: hidden;
    }
  }

  .endorse-btn {

    .check-icon {
      display: block;
      width: 13px;
      height: 12px;
      margin: 8px auto;
      background: url(../images/endorse-icon.png) no-repeat;
    }

    &.is-endorsed .check-icon {
      background-position: 0 -12px;
    }
  }
}
